:root {
  --ucentral-blue: #0026fa;
  --ucentral-orange: #ff5200;
  --ucentral-skyblue: #c4daf1;
  --ucentral-dark: #000000;
  --ucentral-light: #f2f4ff;
  --ucentral-white: #ffffff;
  --ucentral-accent: #0026fa;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background: var(--ucentral-white);
}

header, nav {
  margin: 0;
  padding: 0;
  background-color: var(--ucentral-blue);
}

.intro h2 {
  display: flex;
  font-size: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1px;
}



.chat-interface h2 {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.chat-interface p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

.intro h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 200;
  font-style: italic;
  font-size: 1.5rem; /* Adjust as necessary */
  line-height: 1px;
  margin: 0.5rem 0; /* Adjust as necessary */
}

.intro {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro .intro-logo {
  max-width: 500px; /* Adjust as necessary */
  height: auto; /* This keeps the aspect ratio intact */
  margin-bottom: 1rem; /* Adds some space below the logo */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .intro .intro-logo {
    width: 100%; /* On smaller screens, the logo can take up more width */
    max-height: 150px; /* Limit the height so it doesn't take too much vertical space */
    margin: 0.5rem auto; /* Adjust the margin to fit smaller screens */
  }
}

/* Style for the description paragraph */
.intro h4 {
  font-size: 2rem; /* Adjust as necessary */
  color: var(--ucentral-dark-text); /* Use a color that's readable on your background */
  max-width: 940px; /* Adjust as necessary for line length */
  margin-bottom: 1rem; /* Adds some space below the paragraph */
}

.intro p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  background-color: var(--ucentral-blue);
}

.chat-interface p {
  font-size: 1rem; /* Adjust as necessary */
  color: var(--ucentral-dark-text); /* Use a color that's readable on your background */
  max-width: 940px; /* Adjust as necessary for line length */
  margin-bottom: 1rem; /* Adds some space below the paragraph */
  text-align: justify;
}

.about-whatsapp a {
  color: var(--ucentral-accent);
  text-decoration: none;
}

.about-whatsapp a:hover {
  color: var(--ucentral-orange);
}

h1 {
  margin: 0;
  font-size: 1.5em;
  color: var(--ucentral-light);
}

nav a {
  text-decoration: none;
  color: var(--ucentral-light);
  display: flex;
  align-items: center;
  padding: 0.5em;
}

nav a i {
  margin-right: 0.5em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section, iframe {
  width: 100%;
  max-width: 1020px;
  margin-bottom: 20px;
  background: var(--ucentral-light);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

ul {
  text-align: justify;
  padding-right: 20px;
  padding-left: 20px;
}

.whatsapp-section,
.whatsapp-head,
.whatsapp-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
}

.whatsapp-head {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: var(--ucentral-dark);
}

.whatsapp-text {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.whatsapp-button img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  padding-bottom: 25px;
  display: none;
}

.whatsapp-button img:hover {
  transform: scale(1.1);
}

.whatsapp-button img[src=""] {
  display: none;
}

.whatsapp-button img:not([src=""]) {
  display: block;
}

@media (max-width: 768px) {
  .whatsapp-section {
      padding-bottom: 10px;
  }

  nav a:not(:last-child) {
      margin-right: 10px;
  }

  iframe {
      height: 300px;
  }

  header, main, footer {
      flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .custom-button-container {
      text-align: center;
  }

  .custom-button {
      display: block;
  }

  .chat-interface iframe {
      display: none;
  }
}

@media screen and (min-width: 769px) {
  .custom-button {
      display: none;
  }

  .chat-interface iframe {
      display: block;
  }

  .chat-interface {
      position: relative;
  }

  .chat-interface #iframe-opener {
      position: absolute;
      right: 20px;
      top: 53px;
      z-index: 10;
  }
}

.custom-button {
  background-color: var(--ucentral-orange);
  color: var(--ucentral-white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: var(--ucentral-accent);
}

.iframe-container {
  position: relative;
}

@media (min-width: 768px) {
  .custom-button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 10px; /* smaller padding */
      font-size: 0.8em; /* smaller font size */
      transform: translateY(-50%); /* Adjust vertical position to align with the top text */
  }
}

footer {
  background-color: var(--ucentral-white);
  color: var(--ucentral-dark);
  text-align: center;
  padding: 20px 0;
  font-family: inherit;
  border-top: 3px solid var(--ucentral-accent);
}

footer a {
  color: var(--ucentral-accent);
  text-decoration: none;

}

footer a:hover {
  color: var(--ucentral-orange);
}

.footer-logo {
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
}

p, ul, li {
  line-height: 1.6;
}
