body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #ecf0f1;
}

header, nav {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

h1 {
  margin: 0;
  font-size: 1.5em;
}

nav a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

nav a i {
  margin-right: 0.5em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section,
iframe {
  width: 100%;
  max-width: 1020px;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.whatsapp-section,
.whatsapp-head,
.whatsapp-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
}

.whatsapp-head {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.whatsapp-text {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.whatsapp-button img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  padding-bottom: 25px;
}

.whatsapp-button img:hover {
  transform: scale(1.1);
}

.whatsapp-button img[src=""] {
  display: none;
}

.whatsapp-button img:not([src=""]) {
  display: block;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #34495e;
  color: #ffffff;
  margin-top: auto;
}

@media (max-width: 768px) {
  .whatsapp-section {
    padding-bottom: 10px;
  }
  
  nav a:not(:last-child) {
    margin-right: 10px;
  }

  iframe {
    height: 300px;
  }

  header, main, footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .custom-button-container {
    text-align: center;
  }
  
  .custom-button {
    display: block;
  }
  
  .chat-interface iframe {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .custom-button {
    display: none;
  }
  
  .chat-interface iframe {
    display: block;
  }
  
  .chat-interface {
    position: relative;
  }
  
  .chat-interface #iframe-opener {
    position: absolute;
    right: 20px;
    top: 53px;
    z-index: 10;
  }
}

.custom-button {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
}

.iframe-container {
  position: relative;
}

@media (min-width: 768px) {
  .custom-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px; /* smaller padding */
    font-size: 0.8em; /* smaller font size */
    transform: translateY(-50%); /* Adjust vertical position to align with the top text */
  }
}
